#------ python -------------

*.ipynb
*.html
*.pyc
.ipynb_checkpoints
*/.ipynb_checkpoints/*


00_Run_SNooPy_inAnaconda.ipynb
00_Run_SNooPy_inAnaconda.py

AndersonDarlingTest_KS_HubbleResiduals.py
Colors.py
StdError_bootstrap.py

#------- r -----------

.Rproj.user
.Rapp.history
.RData
.Rhistory
*.Rproj

/7_GP_fit/.Rproj.user
/7_GP_fit/.Rapp.history
/7_GP_fit/.RData
/7_GP_fit/.Rhistory
/7_GP_fit/GP_AbsMag_HyperParams_Main.R
/7_GP_fit/GP_AbsMag_HyperParams.Rproj

/9_R_Hierarchical/.Rproj.user
/9_R_Hierarchical/.Rapp.history
/9_R_Hierarchical/.RData
/9_R_Hierarchical/.rhistory
/9_R_Hierarchical/Hierarchical_GP_Main.R
/9_R_Hierarchical/R_Hierarchical_GP.Rproj

#------- bash ------------

*.sh

#------- diverse ------------

.gitattributes
.DS_Store
*.log
