*.html
.ipynb_checkpoints
*/.ipynb_checkpoints/*
.gitattributes



.Rproj.user
.Rapp.history
.RData
.Rhistory
*.Rproj

.DS_Store

#-------------------
#   Specific files

00_Canopy_ToRunPythonScripts.ipynb
03_Canopy_Fitting_Main.py
03_Conda_Fitting.py

15_TrimAndyTable.ipynb

Colors.ipynb

#-------------------

Scratch/
scratch_1.py
scratch_2.py
Diverse_scratch.R